<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fire.photoselector">

    <application android:label="@string/app_name">
        <!--        <meta-data-->
        <!--            android:name="com.fire.photoselector.models.MyGlideModule"-->
        <!--            android:value="GlideModule" />-->

        <activity
            android:name=".activity.PhotoSelectorActivity"
            android:theme="@style/PreviewTheme" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:theme="@style/PreviewTheme" />
    </application>

</manifest>
